
body{
  background-color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  background-color: #E1D4C9;
  color: rgb(76, 76, 76);
}

ul{
  display: flex;
  gap: 40px;
}
li{
  list-style: none;
}
li:hover{
  text-decoration: underline;
  
}
a{
  text-decoration: none;
  color: rgb(76, 76, 76);
}
a:hover{
  text-decoration: underline;
  
}
.mainnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 60px;
    margin: 0 auto;
}
.nav_sec1 > img{
  width:100px;
  height: 60px;
}

.cofecolor{
  color: rgb(160, 148, 131);
}
.showcase{
  background-image: url(/media/img-hero.jpg);
  width: 1360px;
  height: 720px;
  background-size: cover;
  border-radius: 50px;
  margin: 25px auto;
  color: whitesmoke;
  
}

.show_text{
  padding: 40px 70px;
  width: 45%;
  
}
.show_text > h1{
  font-size: 80px;
}
.show_text > p{
  font-size: 20px;
  font-weight: 300;
  color: whitesmoke;
  
}

.htext{
  text-align: center;
  font-size: 30px;
  width: 1440px;
  margin: 0 auto;
}
.htext1{
  text-align: center;
  font-size: 34px;
  margin: 0 auto;
}
.htext2{
  font-size: 36px;
  font-weight: 600;
}
.htext3{
  text-align: center;
  font-size: 30px;
  width: 800px;
  margin: 0 auto;
}
    .slider {
      overflow: hidden;
    }
    .slide {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  
   .next{
      background-color:  rgb(238, 220, 198);
      color: #4d4848;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      border: solid 1px #4d4848;
    }
    .next:hover {
      background-color: #4d4848;
      color: #fff;
    }
    .prev{
      background-color:  rgb(238, 220, 198);
      color: #4d4848;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      border: solid 1px #4d4848;
    }
    .prev:hover {
      background-color: #333;
      color: #fff;
    }
    .showcase1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1440px;
      margin: 0 auto;
    }

.menubut{
  background-color: #E1D4C9;
  padding: 20px 78px;
  border-radius: 100px;
  font-size: 16px;
  border: solid 1px #E1D4C9;
}

.slide_text{
  text-align: center;
  width: 450px;
  margin: 0 auto;
}

.flex-container {
  width: 1360px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  gap: 15px;
}

.img1 {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  margin: 10px auto;
  transition: transform 0.3s ease-out;
}
.img1:hover  {
  transform: translateZ(-25px);
  border-radius: 20px;
}
.flexcont{
  perspective: 1000px;
}

.img2 {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  margin: 10px auto;
  transition: transform 0.3s ease-out;
}
.img2:hover  {
  transform: translateZ(-25px);
  border-radius: 20px;
  
}

.img3 {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  transition: transform 0.3s ease-out;
  margin: 10px auto;
}
.img3:hover  {
  transform: translateZ(-25px);
  border-radius: 20px;
}

.img4 {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  transition: transform 0.3s ease-out;
  margin: 10px auto;
}
.img4:hover  {
  transform: translateZ(-25px);
  border-radius: 20px;
}

.lefttext{
  text-align: left;
  font-size: 18px;
}
.lefttext1{
  text-align: left;
}

.install{
  display: flex;
  width: 1360px;
  margin: 130px auto;
}
.install_text{
  width: 50%;
}
.install_img{
  width: 50%;
}
.apps{
  display: flex;
  gap: 15px;
  margin-top: 50px;
}
.appin{
  display: flex;
  align-items: center;
  gap: 10px;
}
.appin > div > img{
  width: 44px;
  height: 46px;
}
.app > button{
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px 30px;
}
.app > button:hover{
  border: 1px solid #E1D4C9;
  background-color: #333;
  color: aliceblue;
  
}

#none{
  display: none;
}

.menubut:hover{
  #none{
    display: inline;
  }
}

.footer{
  background-color: #665F55;
  width: 1360px;
  margin: 50px auto;
  border-radius: 35px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot{
  width: 600px;
  color: #e6dacf;
}
.icons{
  display: flex;
  gap: 15px;
}
.ico{
  padding: 15px;
  border: 1px solid #E1D4C9;
  border-radius: 100%;
  color: #cbbfb5;
  font-size: 24px;
}
.ico:hover{
  color: #333;
  background-color: #E1D4C9;
}
.fff{
  color: #E1D4C9;
}

.cofesections{
  width: 520px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}
.cofesections > button{
   width: 164px;
   height: 66px;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 50px;
   font-size: 18px;
   cursor: pointer;
}
.cofesections > button:hover{
  background-color: #333;
  color: #e6dacf;
}

.cofesections > button > img{
  width: 50px;
  height: 50px;
}


.menu-content {
  display: none;
  margin-top: 20px;
}

.menu-content.active {
  display: block;
}


.menu-contents{
  width: 1340px;
  margin: 0 auto;
}
.menuin{
  display: flex;
  gap: 15px;
}
.menuside{
  width: 360px;
  text-align: left;
}
.menuside > img{
  height: 310px;
  width: 310px;
  border-radius: 30px;
  transition: transform 0.5s;
}
.menuside > img:hover  {
  transform: scale(0.9);
}
















#check{
  display: none;
}

.open{
  font-size: 22px;
  display: none;
 
}
.res{
  padding: 90px;
  border-radius: 5px;
  position: fixed;
  z-index: 44;
  transition: 1s;
  top: -480px;
  
}




@media(max-width:900px){
  
.nav_sec2{
    display: none;
}
.nav_sec3{
  display: none;
}
.open{

display: block;
position: relative;
left: 530px;
bottom: 60px;
padding: 10px;
width: 40px;
text-align: center;
}

 #check:checked ~ .res{
        top: 90px;
        left: 10px;
        padding: 15px;
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
        justify-content: space-evenly; 
}
.open:hover{
      background-color: rgb(186, 186, 186);
      border-radius: 100%;
      
}

.mainnav{
  width: 90%;
}

.menuin{
  width: 80%;
  display: block;
  margin: 0 auto;
  
}

.navbar_menu_res{
  background-color: #d7aa83;
  padding: 20px;
}

.footer{
  display: block;
  width: 80%;
}

.htext{
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}
.htext1{
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
}
.htext2{
  font-size: 26px;
  font-weight: 600;
}
.htext3{
  text-align: center;
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
}

.install{
  display: block;
  width: 90%;
  margin: 130px auto;
}
.install_text{
  width: 100%;
}
.install_img{
  width: 100%;
}

.flex-container {
  width: 90%;
  display: block;
 
}


.showcase1{
  width: 90%;
  margin: 0 auto;
}

.showcase{
  width: 90%;
  margin: 25px auto;
  height: 550px;
}
.show_text{
  width: 70%;
}
.show_text > h1{
  font-size: 38px;
}

.img1{
  width: 450px;
  height: 450px;
}
.img2{
  width: 450px;
  height: 450px;
}
.img3{
  width: 450px;
  height: 450px;
}
.img4{
  width: 450px;
  height: 450px;
}

.foot{
  width: 95%;
}

.menu-contents{
  width: 90%;
  margin: 0 auto;
}

}




















