body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    line-height: 1.6;
    text-align: center;
}

header {
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
